{% extends 'store/main.html' %}
{% load static %}

{% block title %}
Checkout - Nante Footwear
{% endblock title %}

{% block menu %}
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'shop' %}">Shop</a></li>
    <li><a href="#">Collection</a>
        <ul class="dropdown">
            <li><a href="#">Men's</a></li>
            <li><a href="#">Women's</a></li>
            <li><a href="#">Kid's</a></li>
        </ul>
    </li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li><a href="{% url 'faq' %}">FAQ</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
</ul>
{% endblock menu %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            {% csrf_token %}
            <form id="checkout-form" action="#" class="checkout-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div>
                        <h4>Biiling Details</h4>
                        <div class="row">
                            <div id="user-info" class="row">
                                <div class="col-lg-6">
                                    <label for="first">First Name<span>*</span></label>
                                    <input type="text" id="first" name="first" required>
                                </div>
                                <div class="col-lg-6">
                                    <label for="last">Last Name<span>*</span></label>
                                    <input type="text" id="last" name="last" required>
                                </div>
                                <div class="col-lg-6">
                                    <label for="email">Email Address<span>*</span></label>
                                    <input type="text" id="email" name="email" required>
                                </div>
                                <div class="col-lg-6">
                                    <label for="phone">Phone<span>*</span></label>
                                    <input type="text" id="phone" name="phone" required>
                                </div>
                            </div>

                            <div id="address-info" class="row">
                                <div class="col-lg-12">
                                    <label for="street">Address<span>*</span></label>
                                    <input type="text" id="street" class="street-first" name="street" required>
                                </div>
                                <div class="col-lg-12">
                                    <label for="town">Town / City<span>*</span></label>
                                    <input type="text" id="town" name="town" required>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12">
                                <div class="create-item">
                                    <label for="acc-create">
                                        Create an account?
                                        <input type="checkbox" id="acc-create">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="Enter Your Coupon Code">
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    {% for item in items %}
                                    <li class="fw-normal">{{ item.product.name }} x {{ item.quantity }} <span>GHC{{ item.get_total|floatformat:2 }}</span></li>
                                    {% endfor %}
                                    <li class="fw-normal">Subtotal <span>GHC{{ order.get_cart_total|floatformat:2 }}</span></li>
                                    <li class="total-price">Total <span>GHC{{ order.get_cart_total|floatformat:2 }}</span></li>
                                </ul>
                                <!-- <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div> -->
                                <div class="order-btn">
                                    <button id="make-payment" type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <script src="https://js.paystack.co/v1/inline.js"></script>


    <script type="text/javascript">

        var form = document.getElementById('checkout-form');
        //var csrftoken = form.getElementsByTagName("input")[0].value;
        var placeBtn = document.getElementById('make-payment');
        console.log(csrftoken)

        var total = '{{ order.get_cart_total }}'

        if(user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML= '';
        }

        placeBtn.addEventListener('click', (e) => {
            e.preventDefault();
            makePayment();
        });

        function makePayment(){
            var name = '';
            var email = '';
            var total = parseFloat('{{ order.get_cart_total }}')
            
            if(user == 'AnonymousUser'){
                name = form.first.value + ' ' + form.last.value;
                email = form.email.value;
            }else{
                name = '{{ user.get_username }}';
                email = '{{ user.email }}';
            }

            console.log(name + ' ' + email + ' ' + total);

            var handler = PaystackPop.setup({
                key: "{{ pk_public }}",
                email: email,
                //amount: parseFloat('{{ order.get_cart_total }}'),
                amount: total * 100,
                currency: "GHS",
                ref: "" + Math.floor(Math.random() * 1000000000 + 1),

                metadata: {
                    custom_fields:[
                        {
                            display_name: name,
                            variable_name: name
                        }
                    ]
                },
                callback: (response) => {

                    var referenceId = response.reference;

                    $.ajax({
                        type: "GET",
                        url: '/verify/' + referenceId,
                        beforeSend: function(){
                            console.log('Sending req');
                        },
                        success: function (response){
                            if(response[3].status == "success"){
                                submitFormData();
                            }
                        },
                        error: function(xhr, status, error){
                            console.log(xhr, status, error);
                        }
                    });
                }
            });
            handler.openIframe();
        }

        function submitFormData(){
          //alert('Form Data submitted');
        //   if(form.first.value.length == 0 || form.last.value.length == 0 || form.email.value.length == 0)
          var userFormData = {
              'name': null,
              'email': null,
              'phone': null,
              'total': total,
          };

          var shippingInfo = {
              'street':null,
              'town':null,
          };

          shippingInfo.street = form.street.value;
          shippingInfo.town = form.town.value;

          if(user == 'AnonymousUser'){
              userFormData.name = form.first.value + ' ' + form.last.value;
              userFormData.email = form.email.value;
              userFormData.phone = form.phone.value;
          }



          var url = "/process_order/"

          fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
          })
          .then((response) => response.json())
          .then((data) => {
              console.log('Success:', data);
              alert('Transaction completed');

              cart = {}
              document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'

              window.location.href = "{% url 'shop' %}";
          })
        }
    </script>



{% endblock content%}